<header class="header-bar">
    <h1>لیست کاربران</h1>
    <button class="add-user-button" [routerLink]="'/adduser'">افزودن کاربر جدید</button>
  </header>
  
<table class="user-table">
    <thead>
        <tr>
            <th>#</th>
            <!-- <th>نام</th>
            <th>نام خانوادگی</th> -->
            <th>نقش</th>
            <!-- <th>شماره موبایل</th> -->
            <!-- <th>کد ملی</th> -->
            <th>نام کاربری</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user.username;let i = $index)
        {
        <tr>
            <td>{{ i+ 1}}</td>
            <!-- <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td> -->
            <td>{{user.role === 1 ? 'ادمین': 'عادی'}}</td>
            <!-- <td>{{user.phone}}</td>
            <td>{{user.nationalCode}}</td> -->
            <td>{{user.username}}</td>
            <td>
                <button [routerLink]="['/edituser',user.username.toString()]" routerLinkActive="Active"
                    (click)="editUser(user.username)" class="edit-button">ویرایش</button>
            </td>
            <td>
                <button class="delete-button" *ngIf="user.id" (click)="deleteUser(user.id!)">حذف</button>
            </td>
        </tr>
        }@empty {
        کاربری ثبت نشده است.
        }
    </tbody>
</table>