<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">نام کالا</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="submitted && productForm.get('name')?.hasError('required')" class="error">
            نام کالا الزامی است.
        </div>
    </div>
    <div class="form-group">
        <label for="code">کد کالا</label>
        <input id="code" formControlName="code" type="text" />
        <div *ngIf="submitted && productForm.get('code')?.hasError('required')" class="error">
            کد کالا الزامی است.
        </div>
    </div>
    <div class="form-group">
        <label for="weight">وزن کالا</label>
        <input id="weight" formControlName="weight" type="text" />
        <div *ngIf="submitted && productForm.get('weight')?.invalid " class="error">
            وزن کالا الزامی است.
        </div>
    </div>
    <div class="button-container">
        <button type="submit" class="save" (click)="onSubmit()">ارسال</button>
        <button type="button" class="back" (click)="backToProductList()">بازگشت</button>
    </div>
</form>