.header-bar {
    display: flex; /* برای ایجاد ساختار افقی */
    justify-content: space-between; /* فاصله بین آیتم‌ها */
    align-items: center; /* هم‌تراز کردن آیتم‌ها در محور عمودی */
    padding: 10px;
    background-color: #f8f9fa; /* رنگ پس‌زمینه */
    border-bottom: 1px solid #ddd; /* خط زیرین */
    direction: rtl;
  }
  
  .header-bar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .add-product-button {
    background-color: #28a745; /* رنگ سبز */
    color: #fff; /* رنگ متن */
    border: none; /* حذف حاشیه */
    padding: 10px 20px; /* فضای داخلی */
    font-size: 16px; /* اندازه متن */
    border-radius: 5px; /* گوشه‌های گرد */
    cursor: pointer; /* نشانگر ماوس */
  }
  
  .add-product-button:hover {
    background-color: #218838; /* تغییر رنگ هنگام هاور */
  }
  

.user-table {
    width: 100%;
    border-collapse: collapse;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

.user-table th,.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #2196F3;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
    margin-left: 5px;
}

.edit-button:hover {
    background-color: #1976D2;
}

.delete-button:hover {
    background-color: #d32f2f;
}